[Unit]
Description=Tomcat
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

{% for value in tomcat_environment -%}
Environment="{{ value }}"
{% endfor -%}

ExecStart={{ tomcat_path }}/latest/bin/startup.sh
ExecStop={{ tomcat_path }}/latest/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
