---
s3_bucket: ""
s3_file_perl_lib: /application/ewf/frontend/ewf-frontend-static.tar.gz
s3_file_perl_lib_name: '{{ s3_file_perl_lib | basename }}'

tar_files:
  - "{{ s3_file_perl_lib_name }}"

ansible_deploy_playbook_directory: "/root"

postfix_main_config_file: main.cf
postfix_config:
  - key: mydomain
    value: default.local
  - key: myorigin 
    value: $mydomain
  - key: relayhost
    value: myrelay.local

postfix_net_config:
  - key: inet_interfaces 
    value: all
  - key: inet_protocols 
    value: ipv4